
/*About page styling*/

body {
    background-image: url("https://images.unsplash.com/photo-1619468129361-605ebea04b44?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-position: center; /*centers image on the page*/
    background-repeat: no-repeat; /*uses the background image only once rather than creating tiles of repeated images*/
    background-size: cover; /*stretches the image to fill the screen*/
    background-attachment: fixed; /*keeps the image static while the other page content scrolls*/
}

/*We use flexboxes so the overlay of information is easy and extra "about" boxes can be added at any time*/
.card-container {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    gap: 5vw; /*creates spacing between boxes*/
    flex-wrap: wrap; 
    margin-top: 5vw; /*creates spacing between the top box and the navbar*/
    margin-bottom: 5vw; /*creates spacing between the bottom box and the bottom of the screen*/
}

.card {
    width: 60vw; /*wide enough so that each box is a single row */
    position: relative;
    display: flex;
    flex-direction: column; /*allows the format to scroll as columns*/
    justify-content: center;
    align-items: center;
}
.card .card-title{
    font-family: serif;
    font-size: 4vw;
    font-weight: bold;
    position: absolute;
    color: whitesmoke;   
    top: 2vw;
    text-align: centre;
}

.card:nth-child(1) {
    background: #5d3020; /*colour confirmed to be accessible with white text*/
    opacity: 0.9; /*90% opacity to style the page with an aesthetically pleasing, contemporary look*/
    height: 40vw; /*sets an individual height for the box to match the amount of text it contains*/
}
.card:nth-child(2) {
    background-color: #4d6879; /*colour confirmed to be accessible with white text*/
    opacity: 0.9; /*90% opacity to style the page with an aesthetically pleasing, contemporary look*/
    height: 50vw; /*sets an individual height for the box to match the amount of text it contains*/
}

.card:nth-child(3) {
    background-color: #274253; /*colour confirmed to be accessible with white text*/
    opacity: 0.9; /*90% opacity to style the page with an aesthetically pleasing, contemporary look*/
    height: 20vw; /*sets an individual height for the box to match the amount of text it contains*/
}

.card .card-text{
    position: absolute;
    color: white;
    font-size: 1.2vw;
    padding: 4vw;
    transform: translate(0vw, 2vw); /*This moves the text down to prevent more visually pleasing spacing from the title and bottom of the card*/
}

.bottom-right {
    position: absolute;
    right: 0%; /*moves the photo credit to the right side of the page*/
    background: white; /*makes the photo credit text legible*/
}